.signup {
    .redirect{
        .link{
            cursor: pointer;
        }
    }
    .signup-form {

        border: 1px solid black;
        border-radius: 16px;
        width: fit-content;

        .submit-button {
            width: 100%;

            .submit-btn {
                width: 100%;
            }
        }

        .name,.email,.password,.phone {
            .p-input-icon-right {
                width: 320px;

                input {
                    width: inherit;
                }
            }
        }

        ::ng-deep {
            .password,.confirm-password {
                p-password {
                    .p-password {
                        width: 320px;

                        .p-password-input {
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
}

.verify-user{
    .verification-form{
        width: 320px;
        border: 1px solid black;
        border-radius: 16px;
        .resend{
            cursor: pointer;
        }
    }
    
}