<div class="change-password d-flex flex-column justify-content-center align-items-center mt-5">
    <h2>Change Password</h2>
    <form class="change-form d-flex flex-column p-4" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="old-password my-2">
            <p-password [feedback]="false" formControlName="oldPassword"
                placeholder="Old Password"></p-password>
            <div *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched"
                class="text-danger">
                Old Password is required.
            </div>
        </div>
        <div class="new-password my-2">
            <p-password [feedback]="false" [toggleMask]="true" formControlName="password"
                placeholder="New Password"></p-password>
            <div *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched"
                class="text-danger">
                New Password is required.
            </div>
            <div *ngIf="changePasswordForm.get('password').hasError('minlength') && changePasswordForm.get('password').touched"
                class="text-danger">
                New Password must be at least 8 characters long.
            </div>
            <div style="max-width: 320px;"
                *ngIf="changePasswordForm.get('password').hasError('passwordStrength') && changePasswordForm.get('password').touched"
                class="d-flex flex-wrap text-danger">
                New Password must contain at least one lowercase letter, one uppercase letter, one digit, and one
                special
                character.
            </div>
            <div *ngIf="changePasswordForm.hasError('passwordSameAsOld') && changePasswordForm.get('password').touched"
                class="text-danger">
                New Password can't be same as old password.
            </div>
        </div>
        <div class="confirm-new-password my-2">
            <p-password [feedback]="false" formControlName="confirmPassword"
                placeholder="Confirm New Password"></p-password>
            <div *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched"
                class="text-danger">
                Password is required.
            </div>
            <div *ngIf="changePasswordForm.get('confirmPassword').hasError('minlength') && changePasswordForm.get('confirmPassword').touched"
                class="text-danger">
                Password must be at least 8 characters long.
            </div>
            <div style="max-width: 320px;"
                *ngIf="changePasswordForm.get('confirmPassword').hasError('passwordStrength') && changePasswordForm.get('confirmPassword').touched"
                class="d-flex flex-wrap text-danger">
                Password must contain at least one lowercase letter, one uppercase letter, one digit, and one
                special
                character.
            </div>
            <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword').touched" class="text-danger">
                Passwords do not match.
            </div>
        </div>
        <div class="submit-button my-2">
            <button type="submit" class="submit-btn btn btn-primary fw-bold" [disabled]="changePasswordForm.invalid">Change Password</button>
        </div>
    </form>
</div>