.change-password{
    .change-form{
        border: 1px solid black;
        border-radius: 16px;
        width: fit-content;
        .submit-btn{
            width: 100%;
        }
        ::ng-deep {
            .old-password,.confirm-new-password, .new-password {
                p-password {
                    .p-password {
                        width: 320px;

                        .p-password-input {
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
}