<h2 class="d-flex justify-content-center pt-5 mt-5">Reset Your Password</h2>
<div *ngIf="sendCodeSuccess; then newPassword else forgotPassword"></div>

<ng-template #forgotPassword>
    <div class="forgot-password d-flex flex-column align-items-center">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendCode()" class="form p-4">
            <div class="email my-2 d-flex flex-column">
                <span class="p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input pInputText placeholder="Email" formControlName="email" name="email" />
                </span>
                <div *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched"
                    class="text-danger">
                    Email is required.
                </div>
                <div *ngIf="forgotPasswordForm.get('email').hasError('email') && forgotPasswordForm.get('email').touched"
                    class="text-danger">
                    Invalid email.
                </div>
            </div>
            <button class="btn btn-primary submit" [disabled]="forgotPasswordForm.invalid">Send Code</button>
        </form>
    </div>
</ng-template>

<ng-template #newPassword>
    <div class="new-password d-flex flex-column align-items-center">
        <form [formGroup]="newPasswordForm" (ngSubmit)="setNewPassword()" class="new-password-form p-4">
            <div class="code my-2">
                <input type="text" pInputText placeholder="Verification Code" name="verification" class="code-input"
                    formControlName="code" />
                <div *ngIf="newPasswordForm.get('code').hasError('required') && newPasswordForm.get('code').touched"
                    class="text-danger">
                    Verification Code is required.
                </div>
            </div>
            <div class="new-password my-2">
                <p-password [feedback]="false" [toggleMask]="true" formControlName="password"
                    placeholder="New Password"></p-password>
                <div *ngIf="newPasswordForm.get('password').hasError('required') && newPasswordForm.get('password').touched"
                    class="text-danger">
                    Password is required.
                </div>
                <div *ngIf="newPasswordForm.get('password').hasError('minlength') && newPasswordForm.get('password').touched"
                    class="text-danger">
                    Password must be at least 8 characters long.
                </div>
                <div style="max-width: 320px;"
                    *ngIf="newPasswordForm.get('password').hasError('passwordStrength') && newPasswordForm.get('password').touched"
                    class="d-flex flex-wrap text-danger">
                    Password must contain at least one lowercase letter, one uppercase letter, one digit, and one
                    special
                    character.
                </div>
            </div>
            <div class="confirm-new-password my-2">
                <p-password [feedback]="false" formControlName="confirmPassword"
                    placeholder="Confirm New Password"></p-password>
                <div *ngIf="newPasswordForm.get('confirmPassword').hasError('required') && newPasswordForm.get('confirmPassword').touched"
                    class="text-danger">
                    Confirm Password is required.
                </div>
                <div *ngIf="newPasswordForm.hasError('passwordMismatch') && newPasswordForm.get('confirmPassword').touched"
                    class="text-danger">
                    Passwords do not match.
                </div>
            </div>
            <div class="submit">
                <button class="btn btn-primary submit-btn" [disabled]="newPasswordForm.invalid">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</ng-template>