.forgot-password{
    .form{
        border: 1px solid black;
        border-radius: 16px;
        width: fit-content;
        .email{
            .p-input-icon-right {
                width: 320px;

                input {
                    width: inherit;
                }
            }
        }
        .submit{
            width: 100%;
        }
    }
}

.new-password{
    .new-password-form{
        border:1px solid black;
        border-radius: 16px;
        width: fit-content;
        .submit {
            .submit-btn {
                width: 100%;
            }
        }
        .code{
            input{
                width: 320px;
            }
        }
        .new-password {
            .p-input-icon-right {
                width: 320px;

                input {
                    width: inherit;
                }
            }
        }

        ::ng-deep {
            .new-password,.confirm-new-password {
                p-password {
                    .p-password {
                        width: 320px;

                        .p-password-input {
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
}